/* Comparison */
#ssm_landing_holder
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
	margin-bottom: 10px;
    width: 1006px;
}
#ssm_lp_compare .highlighted
{
    background: none repeat scroll 0 0 azure;
    font-weight: bold;
}
#float_left_100
{
width:100%;
float:left;
}
#ssm_lp_compare
{
    border: 1px solid black;
    border-radius: 8px 8px 0 0;
    float: left;
    margin-left: 40px;
    margin-top: 25px;
    overflow: hidden;
    width: 923px;
}
#ssm_lp_compare .row_1
{
    float: left;
    width: 529px;
}
#ssm_lp_compare .row_2
{
    float: left;
	width:192px;
}
#ssm_lp_compare .row_3
{
    float: left;
    width: 202px;
}
#ssm_lp_compare .ssm_lp_compare_row_1_1
{
    background-image: url("images/ssm_lp_sprite.png");
    background-position: -10px -710px;
    border-bottom: 1px solid black;
    height: 152px;
    width: 529px;
}
#ssm_lp_compare .ssm_lp_compare_row_1_features
{
    border-bottom: 1px solid lightgray;
    color: #414147;
    float: left;
    font-family: arial;
    font-size: 13px;
    height: 16px;
    padding: 8px;
    width: 319px;
}
#ssm_lp_compare .ssm_lp_compare_row_2_1
{
    background-image: url("images/ssm_lp_sprite.png");
    background-position: -10px -882px;
    float: left;
    height: 42px;
    width: 192px;
}
#ssm_lp_compare .ssm_lp_compare_row_2_2
{
    background-image: url("images/ssm_lp_sprite.png");
    background-position: -10px -944px;
    float: left;
    height: 111px;
    width: 191px;
}
#ssm_lp_compare .row_2_border
{
    border-left: 1px solid black;
    float: left;
    width: 192px;
	min-height: 1562px;
}
#ssm_lp_compare .ssm_lp_compare_row_3_1
{
    background-image: url("images/ssm_lp_sprite.png");
    background-position: -10px -1075px;
    float: left;
    height: 17px;
    width: 202px;
}
#ssm_lp_compare .row_3_shadow
{
    border-left: 1px solid black;
    border-top: 1px solid black;
    box-shadow: -2px -2px 10px -2px black;
    float: left;
    width: 201px;
	min-height: 1586px;
}
#ssm_lp_compare .ssm_lp_compare_row_3_2_asm
{
    background-image: url("images/ssm_lp_sprite.png");
    background-position: -10px -1113px;
    float: left;
    height: 135px;
    width: 201px;
}
#ssm_lp_compare .y
{
    background-color: #f3fdee;
    background-image: url("images/ssm_lp_sprite.png");
    background-position: 75.4333px -1323px;
    border-bottom: 1px solid lightgray;
    float: left;
    height: 32px;
    width: 100%;
}
#ssm_lp_compare .n
{
    background-color: #FEF1F3;
    background-image: url("images/ssm_lp_sprite.png");
    background-position: 74.9667px -1287px;
    border-bottom: 1px solid lightgray;
    float: left;
    height: 32px;
    width: 100%;
}
#ssm_lp_shadow
{
    background-image: url("images/ssm_lp_sprite.png");
    background-position: 123.5px -667px;
	background-repeat: no-repeat;
    float: left;
    height: 24px;
    width: 100%;
	opacity: 0.7;
}
#ssm_lp_f_group
{
    float: left;
    width: 529px;
}
#ssm_lp_f_group .left
{
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    color: #414147;
    float: left;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
    width: 183px;
}
#ssm_lp_f_group .right
{
    float: left;
    width: 335px;
}
#ad_ssm_2_button
{
    bottom: 5px;
    cursor: pointer;
    display: block;
    height: 32px;
    position: absolute;
    right: 4px;
    width: 130px;
}
#ad_ssm_2_button_order
{
    background: url("images/button.jpg") repeat scroll 0 0 transparent;
    display: block;
    height: 115px;
    margin-left: auto;
    margin-right: auto;
    width: 283px;
	cursor: pointer;
}
#ad_ssm_2_button_order_link
{
    display: block;
    height: 115px;
    width: 283px;
	cursor: pointer;
}
#ad_ssm_2_button_payments
{
    background: url("images/payments.jpg") repeat scroll 0 0 transparent;
    height: 86px;
	display: block;
	cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    width: 601px;
}
#ad_ssm_2_button_payments_link
{
    height: 86px;
	display: block;
	cursor: pointer;
    width: 601px;
}
/* Comparison Ends Here */