ul.rtp_ppt {
		position: relative;
	    padding:0px !important;
	    margin:0px !important;
		background:none !important;
		list-style-type: none !important;
		border:0px !important;
	  }
.rtp_ppt li {
	    list-style-type: none !important;
	    position: absolute;
	    top: 0;
	    left: 0;
	    padding:0px !important;
	    margin:0px !important;
		background:none !important;
		border:0px !important;
      }
.rtp_ppt li img{
		max-width:100%;
		padding:0px !important;
		margin:0px !important;
		background:none !important;
		border:0px !important;
}
#response #rtp_slideshow_sortable li
{
    border: 1px dashed silver;
    box-shadow: 1px 1px 7px -2px black;
    cursor: move;
    height: 150px;
    overflow: hidden;
    position: relative;
    width: 60%;
}
#s_s_notice
{
    background: none repeat scroll 0 0 limegreen;
    border-radius: 4px 4px 4px 4px;
    color: white;
    font-size: 18px;
    margin-right: auto;
    padding: 4px;
    text-align: center;
}
#response #rtp_slideshow_sortable .del_but
{
    background: url("images/delete.png");
    border: 0 none;
    color: silver;
    cursor: pointer;
    font-family: arial;
    font-size: 1px;
    height: 30px;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 30px;
}
#response #rtp_slideshow_sortable .play_but {
    background: url("images/Play-1-Normal-Red-icon.png");
    border: 0 none;
    color: silver;
    cursor: move;
    font-family: arial;
    font-size: 1px;
    height: 29px;
    left: 342px;
    position: absolute;
    top: 63px;
    width: 30px;
}
.rtp_dis_play_but{
	background: url("images/Play-1-Normal-Red-icon.png") repeat scroll 0 0 transparent;
    border: 0 none;
    color: silver;
    cursor: default;
    font-family: arial;
    font-size: 1px;
    height: 29px;
    left: 50%;
    position: absolute;
    top: 38%;
    width: 30px;
}
.rtp_dis_pause_but{
    background: url("images/Pause.png") repeat scroll 0 0 transparent;
    border: 0 none;
    bottom: 34px;
    color: silver;
    cursor: default;
    font-family: arial;
    font-size: 1px;
    height: 29px;
    left: 8px;
    position: absolute;
    width: 30px;
	display:none;
}
.rtp_dis_stop_but{
    background: url("images/Stop-Normal-Red-icon.png");
    border: 0 none;
    color: silver;
    cursor: default;
    font-family: arial;
    font-size: 1px;
    height: 29px;
    left: 200px;
    position: absolute;
    top: 300px;
    width: 30px;
}
.rtp_dis_unmute_but{
    background: url("images/On.png");
    border: 0 none;
    color: silver;
    cursor: default;
    font-family: arial;
    font-size: 1px;
    height: 29px;
    left: 230px;
    position: absolute;
    top: 300px;
    width: 30px;
}
.rtp_dis_mute_but{
    background: url("images/mute_2_2.png");
    border: 0 none;
    color: silver;
    cursor: default;
    font-family: arial;
    font-size: 1px;
    height: 29px;
    left: 260px;
    position: absolute;
    top: 300px;
    width: 30px;
}
.player_cntrls
{
}
#response #rtp_slideshow_sortable .edit_but
{
    background: url("images/edit.png");
    border: 0 none;
    color: silver;
    cursor: pointer;
    font-family: arial;
    font-size: 1px;
    height: 30px;
    position: absolute;
    right: 3px;
    top: 40px;
    width: 30px;
}
#response #rtp_slideshow_sortable .add_link
{
    background: url("images/add_link.png");
    border: 0 none;
    color: silver;
    cursor: pointer;
    font-family: arial;
    font-size: 1px;
    height: 30px;
    position: absolute;
    right: 3px;
    top: 77px;
    width: 30px;
}

#rtp_slideshow_sortable img
{
    width: 100%;
}
#rename_gallery
{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
#rename_gallery .field
{
    border: 1px solid lightslategrey;
}
#rename_gallery .close
{
    background: none repeat scroll 0 0 white;
    border: 1px solid lightgray;
    border-radius: 11px 11px 11px 11px;
    box-shadow: 0 0 10px -5px black;
    color: black;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 6px;
    position: absolute;
    right: -14px;
    text-decoration: none;
    top: -18px;
}
#rename_lb
{
    background: none repeat scroll 0 0 white;
    border-radius: 6px 6px 6px 6px;
    display: block;
    height: 35px;
    left: 38%;
    padding: 22px;
    position: absolute;
    top: 20%;
    width: 210px;
}



#rtp_html_slide
{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
#rtp_html_slide .field
{
    border: 1px solid lightslategrey;
}
#rtp_html_slide .close
{
    background: none repeat scroll 0 0 white;
    border: 1px solid lightgray;
    border-radius: 11px 11px 11px 11px;
    box-shadow: 0 0 10px -5px black;
    color: black;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 6px;
    position: absolute;
    right: -14px;
    text-decoration: none;
    top: -4px;
}
#html_slide
{
    background: none repeat scroll 0 0 white;
    border-radius: 6px 6px 6px 6px;
    display: block;
    left: 30%;
    position: absolute;
    top: 10%;
}


#rtp_upload_video
{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
#rtp_upload_video .field
{
    border: 1px solid lightslategrey;
}
#rtp_upload_video .close
{
    background: none repeat scroll 0 0 white;
    border: 1px solid lightgray;
    border-radius: 11px 11px 11px 11px;
    box-shadow: 0 0 10px -5px black;
    color: black;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 6px;
    position: absolute;
    right: -8px;
    text-decoration: none;
    top: -4px;
}
#upload_vedio
{
	background: none repeat scroll 0 0 white;
    border-radius: 6px 6px 6px 6px;
    display: block;
    height: 97px;
    left: 40%;
    padding: 12px;
    position: absolute;
    top: 30%;
    width: 217px;
}

#rtp_edit_image
{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
#rtp_edit_image form
{
    background: none repeat scroll 0 0 white;
    border: 1px solid powderblue;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0 0 10px -2px white;
    left: 35%;
    padding: 20px;
    position: absolute;
    top: 20%;
    width: 330px;
}
#rtp_edit_image input
{
    width: 230px;
}
#rtp_edit_image a
{
}
#rtp_help_page
{
}
#rtp_help_page h3
{
    border-bottom: 1px solid gray;
    color: SeaGreen;
    font-family: arial;
    font-size: 18px;
    padding-bottom: 5px;
}
#rtp_help_page .q
{
    border-bottom: 1px dotted lightgray;
    color: gray;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin-top: 50px;
    padding-top: 5px;
}
#rtp_help_page .a
{
    font-style: italic;
}
#shortc
{
    font-family: arial;
    font-size: 12px;
    margin-left: 40px;
    text-transform: capitalize;
}
#rtp_ex_gall
{
    width: 650px;
}
#rtp_ex_gall li
{
    background: none repeat scroll 0 0 threedlightshadow;
    border: 1px dashed silver;
    box-shadow: 1px 1px 3px -1px black;
    display: inline-block;
    height: 43px;
    margin-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    width: 100%;
}
#rtp_ex_gall li .rtp_left
{
    background: url("images/gal.png") no-repeat scroll 6px 5px white;
    border: 1px solid lightgray;
    float: left;
    height: 16px;
    padding: 9px 9px 9px 38px;
    width: 265px;
}
#rtp_ex_gall li .rtp_right
{
    float: right;
    margin-top: 2px;
}
#rtp_ex_gall li .del_gallery
{
    background: url("images/del_gal.png") no-repeat scroll 10px 8px #F3F3F3;
    box-shadow: 1px 1px 2px -2px black;
    height: auto;
    padding: 4px 10px 3px 33px;
}
#rtp_ex_gall li .manage_gallery
{
    background: url("images/man_gal.png") no-repeat scroll 10px 8px #F3F3F3;
    box-shadow: 1px 1px 2px -2px black;
    height: auto;
    padding: 4px 10px 3px 33px;
}
.widefat .rtp_rename_slide_button
{
    background: url("images/rename.png") no-repeat scroll 10px 8px #F3F3F3;
    box-shadow: 1px 1px 2px -2px black;
    height: auto;
    padding: 4px 10px 3px 33px;
}
.widefat .rtp_rename_slide_button:hover
{
    background: url("images/rename.png") no-repeat scroll 10px 8px #F1F1F1;
}
#rtp_editimage_form .can_edit
{
    background: url("images/can_edit.png") no-repeat scroll 8px 4px #F3F3F3;
    box-shadow: 1px 1px 2px -2px black;
    float: left;
    height: auto;
    margin-top: 12px;
    padding: 1px 10px 0 31px;
}
#rtp_editimage_form .can_edit:hover
{
    background: url("images/can_edit.png") no-repeat scroll 8px 4px #F1F1F1;
}
#rtp_editimage_form .edit_edit
{
    background: url("images/edit_submit.gif") no-repeat scroll 8px 4px #F3F3F3;
    box-shadow: 1px 1px 2px -2px black;
    float: right;
    height: auto;
    margin-top: 12px;
    padding: 1px 10px 0 31px;
}
#rtp_editimage_form .edit_edit:hover
{
    background: url("images/edit_submit.gif") no-repeat scroll 8px 4px #F1F1F1;
}
.widefat .rtp_slide_upload
{
    background: url("images/upload_image.png") no-repeat scroll 10px 8px #F3F3F3;
    box-shadow: 1px 1px 2px -2px black;
    height: auto;
    margin: 15px;
    padding: 4px 10px 5px 33px;
}
.widefat .rtp_slide_upload:hover
{
    background: url("images/upload_image.png") no-repeat scroll 10px 8px #F1F1F1;
}

.widefat .rtp_video_upload
{
     background: url("images/upload_video.png") no-repeat scroll 10px 8px #F3F3F3;
    box-shadow: 1px 1px 2px -2px black;
    height: auto;
    margin: 15px;
    padding: 4px 10px 5px 33px;
}
.widefat .rtp_video_upload:hover
{
    background: url("images/upload_video.png") no-repeat scroll 10px 8px #F1F1F1;
}

.widefat .rtp_html_buttn
{
    background: url("images/upload.png") no-repeat scroll 10px 8px #F3F3F3;
    box-shadow: 1px 1px 2px -2px black;
    float: right;
    height: auto;
    margin: 15px;
    padding: 4px 10px 5px 33px;
}
.widefat .rtp_html_buttn:hover
{
    background: url("images/upload.png") no-repeat scroll 10px 8px #F1F1F1;
}

.widefat .rtp_slideshow_html_slide
{
    background: url("images/upload_html.jpeg") no-repeat scroll 10px 8px #F3F3F3;
    box-shadow: 1px 1px 2px -2px black;
    height: auto;
	 margin: 15px;
    padding: 4px 10px 3px 33px;
}
.widefat .rtp_slideshow_html_slide:hover
{
    background: url("images/upload_html.jpeg") no-repeat scroll 10px 8px #F1F1F1;
}

.widefat .rtp_upload_buttn
{
    background: url("images/upload.png") no-repeat scroll 10px 8px #F3F3F3;
    box-shadow: 1px 1px 2px -2px black;
    height: auto;
    padding: 4px 10px 3px 33px;
}
.widefat .rtp_upload_buttn:hover
{
    background: url("images/upload.png") no-repeat scroll 10px 8px #F1F1F1;
}


.widefat .rtp_vedio_upload_buttn
{
    background: url("images/upload.png") no-repeat scroll 10px 8px #F3F3F3;
    box-shadow: 1px 1px 2px -2px black;
    float: right;
    height: auto;
    padding: 8px 9px 6px 34px;
}
.widefat .rtp_vedio_upload_buttn:hover
{
    background: url("images/upload.png") no-repeat scroll 10px 8px #F1F1F1;
}

.widefat .rtp_rename_buttn
{
    background: url("images/rename.png") no-repeat scroll 8px 5px #F3F3F3;
    box-shadow: 1px 1px 2px -2px black;
    height: auto;
    padding: 4px 10px 3px 33px;
}
.widefat .rtp_rename_buttn:hover
{
    background: url("images/rename.png") no-repeat scroll 8px 5px #F1F1F1;
}


#rtp_ex_add_gallery
{
    background: url("images/add.png") no-repeat scroll 8px 4px #F3F3F3;
    box-shadow: 1px 1px 2px -2px black;
    height: auto;
    padding: 4px 10px 3px 33px;
}
#rtp_ex_gall li .del_gallery:hover,#rtp_ex_gall li .manage_gallery:hover,#rtp_ex_add_gallery:hover
{
background-color:#F1F1F1;
}
#rtp_short_gen
{
    width: 425px;
}
#rtp_short_gen td
{
    border: 0px;
}
#rtp_slideshow_loading
{
    background: rgba(1, 1, 1, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
	z-index: 1000;
}
#rtp_slideshow_loading .load
{
    background: url("images/loading.gif") repeat scroll -95px -95px transparent;
    border-radius: 20px 20px 20px 20px;
    height: 113px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    opacity: 0.6;
    width: 113px;
}
#rtp_td p .button
{
    border: 1px solid lightgray;
    margin: 0 3px 0 0 !important;
    min-height: 30px !important;
    padding: 3px 10px !important;
}
#rtp_td p .button:hover
{
    background: azure;
}
#wtd
{
    background: url("images/wtd.jpg") repeat scroll 0 0 transparent;
    display: block;
    height: 50px;
    margin-right: 8px;
    margin-top: 4px;
    width: 240px;
	float:left;
	border: 3px solid gray;
    box-shadow: 1px 1px 11px -5px black;
}
#wd
{
    background: url("images/wd.jpg") repeat scroll 0 0 transparent;
    display: block;
    height: 50px;
    margin-right: 8px;
    margin-top: 4px;
    width: 240px;
	float:left;
	border: 3px solid gray;
    box-shadow: 1px 1px 11px -5px black;
}
#wrd
{
    background: url("images/wr.jpg") repeat scroll 0 0 transparent;
    display: block;
    height: 50px;
    margin-right: 8px;
    margin-top: 4px;
    width: 240px;
	float:left;
	border: 3px solid gray;
    box-shadow: 1px 1px 11px -5px black;
}
#spd
{
    background: url("images/spd.jpg") repeat scroll 0 0 transparent;
    display: block;
    height: 50px;
    margin-right: 8px;
    margin-top: 4px;
    width: 240px;
	float:left;
	border: 3px solid gray;
    box-shadow: 1px 1px 11px -5px black;
}
#rtp_html_span
{
	font-family: arial;
    font-size: 11px;
    font-weight: bold;
    padding: 7px;
}
#rtp_slideshow_updation_notice
{
    background: none repeat scroll 0 0 lightyellow;
    border: 1px solid buttonshadow;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 5px -2px black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    width: 80%;
}
.rtp_ppt .rtp_v_hold
{
position:relative;
}
.rtp_ppt .rtp_no_mo
{
position:absolute;
left:0px;
top:0px;
}
.rtp_ss_error
{
    border: 1px solid scrollbar;
    color: red;
    padding: 7px;
}